<script>
    $(document).ready(function() {
        // $('#decorate').click(function() {
        //     var formId = $('.product-price').find('form').attr('id');
        //     var formData = new FormData($("#" + formId)[0]);

        //     var results = []; // Initialize an empty array to store results

        //     $('.multivariants_setbox_body').find('input').each(function(index, element) {
        //         // Get the ID and value of each input
        //         var inputId = $(element).attr('id');
        //         var inputValue = $(element).val();

        //         results.push({
        //             id: inputId,
        //             value: inputValue
        //         });
              
        //         formData.append(inputId, inputValue);
        //     });
        //      var modal = $('<div class="modal">');
        //     var modalContent = $('<div class="modal-content">');
        //     var closeBtn = $('<span class="head">Decorate This Item</span><span class="close-btn">&times;</span>');

        //     // Append the close button to the modal content
        //     modalContent.append(closeBtn);

        //     // Append the modal content to the modal
        //     modal.append(modalContent);

        //     // Append the modal to the body
        //     $('body').append(modal);

        //     // Show the modal
        //     modal.show();

        //     // Event handler for closing the modal
        //     closeBtn.click(function () {
        //         modal.hide();
        //         // Optionally, remove the modal from the DOM after closing
        //         modal.remove();
        //     });
        // })
    })
</script>

{% schema %}
  {
    "name": "Product Script",
    "settings": [],
     "presets": [
      {
        "name": "Product Script"
        
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}